@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>

  We value your privacy and commit to protecting your personal information. Information collected on this site is used only for its intended purpose. We do not share your data with third parties, except as required by law. Data is stored securely and only for the duration necessary to fulfill its purpose. By using this site, you agree to our privacy practices. For any privacy-related inquiries, please contact us directly.
</p>
